@inject IJSRuntime JSRuntime

@if (_firstRenderFinished)
{
<span>@Url</span>
<iframe src="@Url" class="subapplication" />
}

@code {
    [Parameter]
    public string Url { get; set; }

    private bool _firstRenderFinished;

    protected override void OnAfterRender(bool firstRender)
    {
        _firstRenderFinished = true;
        StateHasChanged();
    }
}
