@using System.Net
@inject IJSRuntime JSRuntime

<a @onclick="Clicked">Link</a>

@code {
    [Parameter]
    public string Application { get; set; }

    [Parameter]
    public string Url { get; set; }

    public async Task Clicked(MouseEventArgs args)
    {
        await JSRuntime.InvokeAsync<string>("window.top.postMessage", new NavigationMessage { Application = Application, Url = WebUtility.UrlEncode(Url) }, "*");


    }
}


